volumes:
  kafka:
  cargo:
  target:
  grafana:

services:

  kfk:
    image: apache/kafka
    user: 0:0
    profiles:
      - env
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kfk:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
      - KAFKA_LOG_DIR=/kafka
      - KAFKA_LOG_RETENTION_MS=3600000
      - KAFKA_LOG_RETENTION_BYTES=1073741824
    volumes:
      - kafka:/kafka:rw
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "9092" ]
      interval: 10s

  kfk-init:
    image: apache/kafka
    profiles:
      - env
    command: ["./kafka-topics.sh", "--bootstrap-server", "kfk:9092", "--create", "--if-not-exists", "--topic", "posts", "--partitions", "32"]
    working_dir: "/opt/kafka/bin"
    depends_on:
      kfk:
        condition: service_healthy

  kwl:
    image: rsmnarts/kowl
    profiles:
      - env
    ports:
      - "127.0.0.1:8181:8080"
    environment:
      - KAFKA_BROKERS=kfk:9092
    depends_on:
      kfk-init:
        condition: service_completed_successfully

  cad:
    image: ghcr.io/google/cadvisor
    privileged: true
    profiles:
      - env
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg:/dev/kmsg

  pms:
    profiles:
      - env
    image: prom/prometheus
    ports:
      - "127.0.0.1:9090:9090"
    volumes:
      - ./scripts/prometheus.yaml:/etc/prometheus/prometheus.yaml
    command:
      - --config.file=/etc/prometheus/prometheus.yaml

  pmg:
    profiles:
      - env
    image: prom/pushgateway
    ports:
      - "127.0.0.1:9091:9091"

  grf:
    profiles:
      - env
    image: grafana/grafana
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - grafana:/var/lib/grafana
      - ./scripts/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml

  rst:
    profiles:
      - jrpk
    build: .
    ports:
      - "127.0.0.1:1133:1133"
      - "127.0.0.1:1134:1134"
      - "127.0.0.1:9999:9090"
      - "127.0.0.1:8888:8080"
    environment:
      #- RUST_BACKTRACE=full
      #- TOKIO_CONSOLE_BIND=0.0.0.0:6669
      - RUST_LOG=info,jrpk=info,tokio::task=info,tower_http=debug
      #- LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2
      #- MALLOC_CONF=stats_print:true
      - LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libtcmalloc.so
      #- LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libmimalloc.so
      #- MIMALLOC_PAGE_RESET=1
      #- MIMALLOC_RESET_DECOMMITS=1
      #- MIMALLOC_RESET_DELAY=1
    volumes:
      - cargo:/usr/local/cargo
      - target:/jrpk/target
      - ./json:/jrpk/json
      - ./src:/jrpk/src:r
      - ./out:/jrpk/out
      - ./scripts:/jrpk/scripts:r
      - ./Cargo.toml:/jrpk/Cargo.toml
      - ./Cargo.lock:/jrpk/Cargo.lock
    working_dir: /jrpk
    deploy:
      resources:
        limits:
          memory: 2g

  trc:
    profiles:
      - jrpk
    build: .
    command: ['tokio-console', 'http://jrpk:6669']

