volumes:
  kafka:
  cargo:
  target:
  grafana:

services:

  kfk:
    image: apache/kafka
    user: 0:0
    profiles:
      - env
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kfk:9092
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
      - KAFKA_LOG_DIR=/kafka
    volumes:
      - kafka:/kafka:rw
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "9092" ]
      interval: 10s

  kfk-init:
    image: apache/kafka
    profiles:
      - env
    command: ["./kafka-topics.sh", "--bootstrap-server", "kfk:9092", "--create", "--if-not-exists", "--topic", "posts", "--partitions", "32"]
    working_dir: "/opt/kafka/bin"
    depends_on:
      kfk:
        condition: service_healthy

  kwl:
    image: rsmnarts/kowl
    profiles:
      - env
    ports:
      - "127.0.0.1:8181:8080"
    environment:
      - KAFKA_BROKERS=kfk:9092
    depends_on:
      kfk-init:
        condition: service_completed_successfully

  pms:
    profiles:
      - env
    image: prom/prometheus
    ports:
      - "127.0.0.1:9090:9090"
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yaml
    command:
      - --config.file=/etc/prometheus/prometheus.yaml

  pmg:
    profiles:
      - env
    image: prom/pushgateway

  grf:
    profiles:
      - env
    image: grafana/grafana
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - grafana:/var/lib/grafana
      - ./datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml

  rst:
    profiles:
      - jrpk
    build: .
    environment:
      #- RUST_BACKTRACE=full
      #- TOKIO_CONSOLE_BIND=0.0.0.0:6669
      - RUST_LOG=info,jrpk=info,tokio::task=info,tower_http=debug
    volumes:
      - cargo:/usr/local/cargo
      - target:/jrpk/target
      - ./json:/jrpk/json
      - ./out:/jrpk/out
      - ./src:/jrpk/src
      - ./Cargo.toml:/jrpk/Cargo.toml
      - ./Cargo.lock:/jrpk/Cargo.lock
    working_dir: /jrpk

  trc:
    profiles:
      - jrpk
    build: .
    command: ['tokio-console', 'http://jrpk:6669']

